
@media all and (max-width: 1228px) {
.three.columns {
    width: 48%;
}
#blocks .column, #blocks .columns {
    margin-left: 0px;
}
.portfolio-block.bouncy, .portfolio-block.adventurionsale {
    margin: 40px 10px 40px 40px;
}
.portfolio-block.plextor, .portfolio-block.summer {
    margin: 0 10px 40px 40px;
}
.bottom-text {
    margin: 50px auto 0;
}
.top-text {
    padding: 0;
}
.middle {
    height: 500px;
}
.img-adventurionsale {
    width: 40%;
    height: auto;
}
.logo-container img {
    width: 20%;
    height: auto;
}
.top-block {
    font-size: 14px;
}
.iframe-text {
    font-size: 14px;
}
.logo-container {
    top: 10%;
    right: 5%;
}
.about-text {
    font-size: 18px;
    padding-left: 150px;
    margin: -155px 0px 10px 70px;
}
.skills {
    float: right;
    font-size: 17px;
    padding: 0px 0 0 87px;
}
.skills-ru {
    padding: 1px 4px 15px 65px;
    font-size: 17px !important;
    margin: 27px -65px;
}
.skills-list {
    font-size: 16px;
    margin: 80px 0 0 -226px;
}
.skills-list-ru {
    font-size: 18px;
    margin: -16px 0px 0 -281px;
}
.copyright {
    font-size: 12px;
    margin: 14px 14px 0;
    padding-left: 103px;
}
.foto {
    background-size: 60%;
    background-position: 17% 100%;
}
.hello {
    font-size: 16px;
    margin-top: -150px;
}
.contact-me {
    margin-left: -82px;
}
.about-castom {
    padding-bottom: 0 !important;
}
}

@media all and (max-width: 875px) {
ul.menu {
    float: none;
}
ul.menu li a.inner {
    font-size: 11px;
}
.bottom-close {
    width: 12px;
    height: 12px;
}
.footer-absolute {
    position: fixed;
}
.hello {
    font-size: 16px;
    margin: -191px 0 0;
}
.foto {
    background-size: 65%;
    background-position: 5% 39%;
}
.skills {
    padding: 0 80px 0 0;
    margin: -4px -60px 0 0;
    font-size: 16px !important;
}
.skills-ru {
    padding: 0;
    margin: 20px 0;
    font-size: 16px !important;
}
.skills-list {
    margin: 65px 0 0 -189px;
    font-size: 15px;
}
.skills-list-ru {
    font-size: 19px;
    margin: 25px 0 0 -211px;
}
}

@media all and (max-width: 816px) {
.foto {
    background-size: 30%;
    background-position: 3% 48%;
}
.main_menu {
    height: 100%;
}
ul.menu {
    margin: 0 auto 0;
    float: none;
    padding: 0;
}
.three.columns {
    width: 100%;
}
.portfolio-block {
    padding: 155px;
    margin: 30px 30px 0px 30px;
}
.portfolio-block.plextor {
    margin-bottom: 30px;
}
.title {
    line-height: 0.1;
}
.container {
    padding: 0;
}
.footer-static {
    width: 100%;
    height: 100%;
}
.fb-icon {
    margin: 4px 102px;
}
.in-icon {
    margin: 4px -90px;
}
.block-bottom-website {
    padding: 0;
    width: 75%;
    font-size: 14px;
    margin-left: 28px;
}
.iframe-text {
    margin: 0 0 15px 30px;
}
.portfolio-block {
    margin: 10px 5px 0 5px !important;
}
.portfolio-block.plextor {
    margin: 10px 5px 10px 5px !important;
}
.modal-iframe {
    width: 80%;
    margin-top: -43px;
}
.iframe-text {
    font-size: 11px;
    margin: 0px 0px 20px 0px;
}
.top-block {
    padding: 0;
    font-size: 12px;
}
.about-text {
    font-size: 18px;
    padding-left: 150px;
    margin: -155px 0px 10px 70px;
}
.skills {
    padding-left: 0px;
    font-size: 18px;
}
.skills-list {
    font-size: 16px;
    padding-left: 5px;
}
.skills-list-ru {
    padding: 15px 0 0 20px;
    font-size: 18px;
}
.skills-list-ru {
    font-size: 16px !important;
    margin: -15px 0 0 -185px;
}
.copyright {
    font-size: 12px;
    margin: 14px 14px 0;
    padding-left: 103px;
}
.fb-icon {
    margin: 12px 12px;
}
.in-icon {
    margin: 12px -9px;
}
.icon-logo {
    top: 7px;
    left: 13px;
}
.logo {
    margin: 0 17%;
    padding: 10px 0px 0 100px;
}
ul.menu li a.inner {
    font-size: 14px;
}
.bottom-close {
    top: 0;
    right: 0;
    position: absolute;
}
}

@media all and (max-width: 750px) {
 .foto {
    background-size: 33%;
    background-position: 5% 60%;
}
.footer {
    position: fixed;
    bottom: 0;
}
.hello {
    font-size: 15px;
}
.about-text {
    font-size: 13px;
    padding-left: 115px;
    margin: -120px 0px 5px 0;
}
.skills {
    font-size: 16px !important;
    padding: 5px 80px 0px 15px;
    margin: -18px -74px 0px 15px;
}
.skills-list > li {
    font-size: 13px;
}
.skills-ru {
    font-size: 16px !important;
    padding: 14px -1px !important;
}
.skills-list-ru {
    margin: -15px 0 0 -200px;
}
.skills-list-ru > li {
    font-size: 13px;
}
.copyright {
    font-size: 9px;
    margin: 14px 0;
    padding-left: 3%;
}
a.logo {
    padding: 10px 0 0 40px;
}
.icon-logo {
    top: 7px;
    left: -45px;
}
ul.menu li a.inner {
    font-size: 10px;
}
.top-text {
    font-size: 24px;
}
.middle-text {
    font-size: 24px;
}
.bottom-text {
    font-size: 12px;
}
ul.menu li a.inner {
    font-size: 14px;
}
#hire-footer.footer-absolute {
    color: #fff;
    width: 100%;
    height: 44px;
    position: static;
    background: #333333;
}
#hire-cont.container {
    padding: 0 10px !important;
}
#contact-text.text {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 10px 0;
}
}
@media all and (max-width: 650px) {
 .foto {
    background-size: 38%;
    background-position: 6% 74%;
}
}
@media all and (max-width: 550px) {
 .foto {
    background-size: 37%;
    background-position: 7% 41%;
}
.skills {
    font-size: 15px !important;
    padding: 12px 163px 0px 20px;
    margin: -18px -149px 0px 20px;

}
.skills-list {
    font-size: 16px;
    padding-left: 57px;
}
.hello {
    margin: -246px 0 0;
}
.skills-ru {
    font-size: 15px !important;
    margin: 16px 12px 10px 53px;
}
.skills-list-ru {
    margin: -15px 0 0 -155px;
}
}

@media all and (min-width: 750px) {
#contact-footer.footer-static {
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 44px;
    position: absolute;
    background: #333333;
}
}

@media all and (max-width: 500px) {
ul.menu li a.inner {
    font-size: 8px;
}
.text {
    padding: 0 0 20px 0;
}
.modal-iframe {
    width: 80%;
    margin-top: -100px;
}
.iframe-text {
    font-size: 10px;
    margin: 0 !important;
}
.iframe-text p {
    margin: 5px 0 0 !important;
}
.skills {
    font-size: 13px !important;
    padding: 26px 145px 0 29px;
    margin: -33px -137px 0px -27px;
}
.skills-ru {
    font-size: 12px !important;
    padding: 0 69px;
    margin: 5px -56px 0px -68px;
}
.hello {
    font-size: 11px;
    margin: -230px 0 -15px;
}
.foto {
    background-size: 32% !important;
    background-position: 4% 10% !important;
}
.simply-list li {
    margin-left: -12px;
}
.skills-list > li {
    margin-left: 87px;
}
.skills-list-ru > li {
    margin-left: 87px;
}
.contact-me {
    margin-left: -45px;
}
.about-castom {
    padding-bottom: 41px !important;
}
.skills-list-ru {
    margin: 0 0 0-208px;
}
.skills-list {
    margin: 40px 0 0 -223px;
    padding: 0;
}
.bottom-feather {
    margin-top: 135px;
}
.padd {
    padding: 0 !important;
}
}
@media all and (max-width: 450px) {
 .foto {
    background-size: 30% !important;
}
.skills-list {
    margin: 60px 0 0 -223px;
    padding: 0;
}
.skills {
    font-size: 13px !important;
    padding: 29px 138px 0 30px;
    margin: -40px -137px 0px -27px;
}
    }
    @media all and (max-width: 400px) { 
.foto {
    background-size: 36% !important;
    background-position: 9% 17% !important;
}
.skills-list {
    margin: 55px 0 0 -212px;
}
.skills-list-ru > li {
    margin: 20px 62px;
}
.skills-ru {
    padding: 0 69px;
    font-size: 12px !important;
    margin: 14px -50px 0px -30px;
}
}
@media all and (max-width: 375px) {
.foto {
    background-size: 38% !important;
}
.bottom-feather {
    margin-top: 65px;
}
.padd {
    padding: 0 13px 0 13px !important;
}
.skills-list-ru > li {
    margin: 0px 62px;
}
.skills-ru {
    padding: 0 69px;
    font-size: 12px !important;
    margin: 0px -73px 0px -66px;
}
}

@media all and (max-width: 320px) {
 .foto {
    background-size: 48% !important;
    background-position: 8% -12% !important;
}
.text {
    padding: 0 0 20px 0;
}
.modal-iframe {
    width: 80%;
    margin-top: -100px;
}
.iframe-text {
    font-size: 10px;
    margin: 0 !important;
}
.iframe-text p {
    margin: 5px 0 0 !important;
}
.foto {
    background-size: 49% !important;
    background-position: 7% -10% !important;
}
.skills {
    font-size: 14px !important;
    padding: 30px 164px 0 30px;
    margin: -29px -149px 0px -170px;
}
.skills-ru {
    font-size: 11px !important;
    padding: 0 68px;
    margin: 5px -67px 0px -68px;
}
.hello {
    font-size: 11px;
    margin: -260px 0 -15px;
}
.skills-list {
    margin: 70px 0 0 -235px;
}
.skills-list-ru > li {
    margin-left: 87px;
}
.contact-me {
    margin-left: -60px;
}
.bottom-feather {
    margin-top: -20px;
    padding-bottom: 150px;
}
.padd {
    padding: 0 5px 0 5px !important;
}
}
