* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    min-width: 400px;
    font-family: "Roboto Condensed", sans-serif;
    background: #fbfbfb;
}
.clear {
    clear: both;
    width: 100%;
    display: inline-block;
}
.roboto {
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}
.text {
    font-size: 17px;
    line-height: 23px;
    padding: 15px 0 50px 0;
}
.white {
    color: #ffffff;
}
.about-text {
    padding-top: 3%;
}
.photo {
    height: 256px;
    width: 200px;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/111.jpg);
}
.skills {
    font-size: 17px;
    background: #ffffff;
    position: relative;
    padding: 0 10px 101px 40px !important;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
}
.skills:before {
    top: 80px;
    content: "";
    width: 30px;
    left: -30px;
    height: 40px;
    display: block;
    position: absolute;
    background: url(../img/angle.png) no-repeat right;
}
.simply-list {
    width: 100%;
    display: inline-block;
    margin: 20px 0 10px 0px;
}
.simply-list li {
    margin: 0;
}
.skills-list > li {
    margin: 0;
    list-style: none;
    font-weight: 400;
    padding: 0 0 0 30px;
    background: url(../img/chek.png) no-repeat 0 0;
}
.them-disc > li  {
    margin: 0;
    list-style: none;
    font-weight: 400;
    padding: 0 0 0 30px;
    background: url(../img/doted.png) no-repeat 0 0;
   
    }
.contact-me {
   font-size: 18px;
}
.main_menu {
    width: 100%;
    height: 46px;
    background: #333333;
}
a:active, a:link {
    outline: none;
}
.header {
    width: 100%;
    height: 1080px;
}
ul.menu {
    padding: 0;
    float: right;
    display: table;
    list-style: none;
    height: 45px;
    margin: 0;
}
ul.menu li {
    display: table-cell;
    vertical-align: middle;
}
ul.menu li a.inner {
    color: #fefefe;
    font-size: 13px;
    position: relative;
    text-decoration: none;
    margin: 0 5px;
}
ul.menu li a.inner:after {
    left: 5px;
    right: 5px;
    bottom: -2px;
    content: '';
    margin: auto;
    position: absolute;
    transform: scaleX(0);
    padding-bottom: 22px;
    transition: all 0.2s linear;
    border-bottom: 1px solid #aea4eb;
}
ul.menu li a.inner:hover:after {
    opacity: 1;
    transform: scaleX(1);
}
ul.menu li a.inner:hover {
    color: #d9d9d9;
}
.logo {
    z-index: 1;
    float: left;
    width: 200px;
    height: 36px;
    line-height: 12px;
    position: relative;
    display: inline-block;
    padding: 10px 0px 0 90px;
}
.icon-logo {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 100px;
    perspective: 100px;
    position: absolute;
    display: inline-block;
    background-size: 114px;
    transition-duration: 1.5s;
    background-repeat: no-repeat;
    -o-transition-duration: 1.5s;
    -ms-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    background-image: url(../img/develop.svg);
}
.logo:hover .icon-logo {
    background-size: 140px;
    transform-origin: right;
    transform-style: preserve-3d;
    background-position: 30% -20%;
    transform: rotateX(30deg) rotateZ(5deg);
}
.text-small {
    color: #d9d9d9;
    font-size: 11px;
}
a.logo {
    text-decoration: none;
    color: #ffffff !important;
}
a.logo:hover {
    color: #d9d9d9 !important;
}
.button-sign {
    width: 70px;
    display: block;
    border: 1px solid;
    border-radius: 2px;
    margin: 0 2px 0 10px;
    border-color: #999999;
    text-decoration: none;
    background-color: #404040;
    text-transform: uppercase;
    color: #999999 !important;
    font-size: 11px !important;
    line-height: 21px !important;
    padding-left: 4px !important;
}
.lock {
    background-image: url(../img/lock-1.png);
    background-repeat: no-repeat;
    background-position: 81%;
    background-size: 16px 20px;
}
.open {
    background-image: url(../img/lock-2.png);
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 25px 21px;
}
.button-sign a:hover {
    color: #ffffff !important;
}
.button-sign span {
    display: block
}
.button-sign a {
    display: none
}
.button-sign:hover a {
    display: block;
    text-decoration: none
}
.button-sign:hover span {
    display: none
}
.button-lang {
    width: 50px;
    display: block;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    color: #999999 !important;
    font-size: 11px !important;
    line-height: 21px !important;
    padding-left: 7px !important;
}
.ru {
    background-image: url(../img/Russia-Flag.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 23px 20px;
}
.eng {
    background-image: url(../img/United-Kingdom-flag.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 23px 20px;
}
.button-lang a:hover {
    color: #ffffff !important;
}
.button-lang span {
    display: block
}
.button-lang a {
    display: none
}
.button-lang:hover a {
    display: block;
    text-decoration: none
}
.button-lang:hover span {
    display: none
}
.middle {
    width: 100%;
    height: 1000px;
    position: relative;
    background-size: cover;
    background-image: url(../img/top.jpg);
}
.top-layer {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
.top-text {
    color: #FFFFFF;
    margin-top: 10%;
    font-size: 33px;
    text-align: center;
    padding: 200px 0 0px 0px;
}
.middle-text {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
.bottom-feather {
    display: block;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 145px;
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/portfolio.svg);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.bottom-feather:hover {
    background-size: 370px;
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
}
.bottom-text {
    width: 190px;
    display: block;
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
    margin: 330px auto 0;
    text-decoration: none;
    text-transform: uppercase;
}
.bottom-text:hover {
    color: #d9d9d9 !important;
}
.portfolio {
    display: block;
    background: #EDEAE6;
}
.portfolio-block {
    display: block;
    padding: 100px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 40px 10px 40px 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    -ms-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    background-size: 100%;
}
.portfolio-block:hover {
    background-size: 110%;
}
.portfolio-block:hover {
    background-color: #f2f2f2;
}
.portfolio-block:hover .title {
    -webkit-transform: translateX(0) translateY(0) translateZ(0);
    -ms-transform: translateX(0) translateY(0) translateZ(0);
    transform: translateX(0) translateY(0) translateZ(0);
}
.portfolio-margin-left {
    margin: 30px 0 30px 75px !important;
}
.logo-container {
    left: 0;
    top: 6%;
    right: 7%;
    text-align: right;
    position: absolute;
}
.img-adventurionsale {
    width: 50% !important;
    height: auto;
}
.logo-container img {
    width: 27%;
    height: auto;
}
.title {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    color: white;
    line-height: 1.4;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transform: translateY(100%) translateZ(0);
    -ms-transform: translateY(100%);
    transform: translateY(100%) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform
}
img.img-modal {
    width: 100%;
}
.bouncy {
    background-image: url(../img/modal.jpg);
}
.adventurionsale {
    background-image: url(../img/modal-2.jpg);
}
.plextor {
    background-image: url(../img/modal-3.jpg);
}
.summer {
    background-image: url(../img/modal-4.jpg);
}
#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}
.hide {
    display: none;
}
.top-block {
    padding: 15px 15px;
    font-size: 25px;
    text-align: center;
}
.block-bottom-website {
    display: block;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    border-radius: 2px;
    background: #619fad;
    text-decoration: none;
}
a.block-bottom-website:hover {
    color: #d9d9d9 !important;
}
.bottom-close {
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
    background: url(../img/bottom-close.svg);
}
a.link {
    color: #999999;
    text-decoration: none;
}
a.link:hover {
    color: #333333;
}
.button-custom {
    text-align: center !important;
}
.link-form {
    text-decoration: none;
}
.modal-iframe {
    width: 60%;
    margin: -60px;
    padding: 10px;
    background: #ffffff;
    border: none;
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
}
.modal {
    width: 100%;
    margin-top: 0;
}
.footer-absolute {
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 44px;
    position: absolute;
    background: #333333;
}
.footer-static {
    color: #fff;
    width: 100%;
    height: 44px;
    position: static;
    background: #333333;
}
.copyright {
    float: left;
    color: #ffffff;
    font-size: 12px;
    margin: 14px 30px 0;
}
.fb-icon {
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 14px;
    background: url(../img/fb.png);
}
.in-icon {
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    margin: 14px 10px 0;
    background: url(../img/in.png);
}
.hello {
    display: block;
    font-size: 48px;
    margin-top: 80px;
    font-weight: 600;
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
}
.iframe-text {
    display: block;
    color: #666666;
    font-size: 15px;
    margin-top: 20px !important;
}
input.hidden {
    display: none;
}
.padd {
    padding: 0 0 0 30px !important;
}
.upload-file {
    float: left;
    height: 30px;
    color: #ffffff;
    padding-top: 5px;
    font-weight: 300;
    border-radius: 4px;
    padding: 8px 0 0 5px;
    background-color: #33C3F0;
    font-family: "Roboto Condensed", sans-serif;
}
.button-send {
    float: right;
}
.button-custom {
    float: right;
}
.mail-send {
    top: 10%;
    right: 10%;
    color: #fff;
    padding: 3% 7% 1%;
    background-color: #585858;
}
.mail-text {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}
.button-mail {
    height: 30px;
    width: 229px;
    margin: 0 auto;
    color: #ffffff;
    display: block;
    font-weight: 300;
    line-height: 30px;
    padding-left: 80px;
    text-decoration: none;
    border: 1px solid #19D9DC;
    font-family: "Roboto Condensed", sans-serif;
}
.button-mail:hover {
    color: #19D9DC;
}
.add_comment {
    width: 100%;
    display: table;
}
.close_hint, .open_hint {
    float: right;
    width: 100px;
    cursor: pointer;
    color: #ffffff;
    font-size: 11px;
    border-radius: 3px;
    text-align: center;
    background: #33C3F0;
    padding: 4px 5px 2px 5px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}
.close_hint {
    margin: 5px;
    color: #F00;
}
.comm_body {
    padding: 0 5px;
    background-color: #EEE;
    text-align: left;
}
.comm_head {
    padding: 3px;
    background-color: #D9D9D9;
}
.comm_minus {
    background: url(../img/bottom.png) no-repeat;
    background-size: 78%;
    margin-top: 5px;
}
.comm_plus {
    background: url(../img/top.png) no-repeat;
    background-size: 78%;
    margin-top: 5px;
}
.comm_minus, .comm_plus {
    float: right;
    width: 20px;
    height: 24px;
    cursor: pointer;
}
.comm_text {
    display: none;
}
.sp_link {
    color: #F33;
    cursor: pointer;
}
.strelka {
    background: url(../img/right-arrow.png) no-repeat;
    border-left: 1px solid #adadad;
    background-position: -1px 0;
}
.strelka_2 {
    background: url(../img/right-arrow.png) no-repeat;
}
#hint {
    position: absolute;
    display: none;
    z-index: 100;
}
.contact-area {
    resize: none;
    width: 100%;
    height: 150px;
}
.testimonials-area {
    resize: none;
    width: 100% !important;
    height: 150px;
}
.background-skills {
    background: #dceeff;
    border-radius: 5px;
    padding: 0px 5px;
}
