
@media all and (max-width: 1228px) {
.three.columns {
    width: 48%;
}
#blocks .column, #blocks .columns {
    margin-left: 0px;
}
.portfolio-block.bouncy, .portfolio-block.adventurionsale {
    margin: 40px 10px 40px 40px;
}
.portfolio-block.plextor, .portfolio-block.summer {
    margin: 0 10px 40px 40px;
}
.bottom-text {
    margin: 50px auto 0;
}
.top-text {
    padding: 0;
}
.middle {
    height: 500px;
}
.img-adventurionsale {
    width: 40%;
    height: auto;
}
.logo-container img {
    width: 20%;
    height: auto;
}
.top-block {
    font-size: 14px;
}
.iframe-text {
    font-size: 14px;
}
.logo-container {
    top: 10%;
    right: 5%;
}
.about-text {
    font-size: 18px;
    padding-left: 150px;
    margin: -155px 0px 10px 70px;
}
.skills {
    float: right;
    font-size: 21px;
    font-weight: normal;
    padding: 18px 1px 0 80px;
}
.skills-ru {
    padding: 25px 0 0 70px;
}
.skills-list {
    font-size: 22px;
    font-weight: normal;
    margin: 85px 0 0 -245px;
}
.skills-list-ru {
    font-size: 22px;
    font-weight: normal;
    margin: 25px 0 0 -190px;
}
.copyright {
    font-size: 12px;
    margin: 14px 14px 0;
    padding-left: 103px;
}
.foto {
    background-size: 65%;
    background-position: 17% 100%;
}
.hello {
    font-weight: normal;
    font-size: 22px;
    margin: -220px 0 0 0;
}
.contact-me {
    margin-left: -82px;
}
.about-castom {
    padding-bottom: 0 !important;
}
}

@media all and (max-width: 875px) {
ul.menu {
    float: none;
}
ul.menu li a.inner {
    font-size: 11px;
}
.bottom-close {
    width: 12px;
    height: 12px;
}
.footer-absolute {
    position: fixed;
}
.hello {
    font-size: 16px;
    margin: -191px 0 0;
}
.foto {
    background-size: 28%;
    background-position: 5% 39%;
}
.skills {
    font-size: 16px !important;
    padding: 0 70px 0 0;
    margin: -14px -60px 0 0;
}
.skills-ru {
    padding: 0;
    margin: 11px 0;
    font-size: 16px !important;
}
.skills-list {
    margin: 45px 0 0 -200px;
}
.skills-list-ru {
    margin: 25px 0 0 -200px;
}
}

@media all and (max-width: 816px) {
.main_menu {
    height: 100%;
}
ul.menu {
    margin: 0 auto 0;
    float: none;
    padding: 0;
}
.three.columns {
    width: 100%;
}
.portfolio-block {
    padding: 155px;
    margin: 30px 30px 0px 30px;
}
.portfolio-block.plextor {
    margin-bottom: 30px;
}
.title {
    line-height: 0.1;
}
.container {
    padding: 0;
}
.footer-static {
    width: 100%;
    height: 100%;
}
.fb-icon {
    margin: 4px 102px;
}
.in-icon {
    margin: 4px -90px;
}
.block-bottom-website {
    padding: 0;
    width: 75%;
    font-size: 14px;
    margin-left: 28px;
}
.iframe-text {
    margin: 0 0 15px 30px;
}
.portfolio-block {
    margin: 10px 5px 0 5px !important;
}
.portfolio-block.plextor {
    margin: 10px 5px 10px 5px !important;
}
.modal-iframe {
    width: 80%;
    margin-top: -43px;
}
.iframe-text {
    font-size: 11px;
    margin: 0px 0px 20px 0px;
}
.top-block {
    padding: 0;
    font-size: 12px;
}
.about-text {
    font-size: 18px;
    padding-left: 150px;
    margin: -155px 0px 10px 70px;
}
.skills {
    padding-left: 0px;
    font-size: 18px;
}
.skills-list {
    padding: 15px 0 0 20px;
    font-size: 18px;
}
.skills-ru {
    padding-left: 0px;
    font-size: 18px;
}
.skills-list-ru {
    padding: 15px 0 0 20px;
    font-size: 18px;
}
.copyright {
    font-size: 12px;
    margin: 14px 14px 0;
    padding-left: 103px;
}
.fb-icon {
    margin: 12px 12px;
}
.in-icon {
    margin: 12px -9px;
}
.icon-logo {
    top: 7px;
    left: 13px;
}
.logo {
    margin: 0 17%;
    padding: 10px 0px 0 100px;
}
ul.menu li a.inner {
    font-size: 14px;
}
.bottom-close {
    top: 0;
    right: 0;
    position: absolute;
}

}

@media all and (max-width: 750px) {
.footer {
    position: fixed;
    bottom: 0;
}
.hello {
    font-size: 15px;
}
.about-text {
    font-size: 13px;
    padding-left: 115px;
    margin: -120px 0px 5px 0;
}
.skills {
    font-size: 13px;
    padding: 5px 10px;
}
.skills-list > li {
    font-size: 13px;
}
.skills-ru {
    font-size: 13px;
    padding: 5px 10px;
}
.skills-list-ru > li {
    font-size: 13px;
}
.copyright {
    font-size: 9px;
    margin: 14px 0;
    padding-left: 3%;
}
a.logo {
    padding: 10px 0 0 40px;
}
.icon-logo {
    top: 7px;
    left: -45px;
}
ul.menu li a.inner {
    font-size: 10px;
}
.top-text {
    font-size: 24px;
}
.middle-text {
    font-size: 24px;
}
.bottom-text {
    font-size: 12px;
}
ul.menu li a.inner {
    font-size: 14px;
}
#hire-footer.footer-absolute {
    color: #fff;
    width: 100%;
    height: 44px;
    position: static;
    background: #333333;
}
#hire-cont.container {
    padding: 0 10px !important;
}
#contact-text.text {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 10px 0;
}
}

@media all and (min-width: 750px) {
#contact-footer.footer-static {
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 44px;
    position: absolute;
    background: #333333;
}
}

@media all and (max-width: 500px) {
ul.menu li a.inner {
    font-size: 8px;
}
.text {
    padding: 0 0 20px 0;
}
.modal-iframe {
    width: 80%;
    margin-top: -100px;
}
.iframe-text {
    font-size: 10px;
    margin: 0 !important;
}
.iframe-text p {
    margin: 5px 0 0 !important;
}
.skills {
    font-size: 12px !important;
    padding: 16px 68px;
    margin: -30px -61px 0px -67px;
}
.skills-ru {
    font-size: 12px !important;
    padding: 0 69px;
    margin: 5px -56px 0px -68px;
}
.hello {
    font-size: 11px;
    margin: -230px 0 -15px;
}
.foto {
    background-size: 32% !important;
    background-position: 4% 10% !important;
}
.simply-list li {
    margin-left: -12px;
}
.skills-list > li {
    margin-left: 87px;
}
.skills-list-ru > li {
    margin-left: 87px;
}
.contact-me {
    margin-left: -45px;
}
.about-castom {
    padding-bottom: 41px !important;
}
.skills-list-ru {
    margin: 0 0 0-208px;
}
.skills-list {
    margin: 0 0 0-208px;
    padding: 60px 0 0 20px;
}
.bottom-feather {
    margin-top: 135px;
}
.padd {
    padding: 0 !important;
}
}

@media all and (max-width: 375px) {
.foto {
    background-size: 30% !important;
}
.bottom-feather {
    margin-top: 65px;
}
.padd {
    padding: 0 13px 0 13px !important;
}
}

@media all and (max-width: 320px) {
.text {
    padding: 0 0 20px 0;
}
.modal-iframe {
    width: 80%;
    margin-top: -100px;
}
.iframe-text {
    font-size: 10px;
    margin: 0 !important;
}
.iframe-text p {
    margin: 5px 0 0 !important;
}
.foto {
    background-size: 32% !important;
    background-position: 6% 4% !important;
}
.skills-ru {
    font-size: 11px !important;
    padding: 0 68px;
    margin: 5px -67px 0px -68px;
}
.hello {
    font-size: 11px;
    margin: -260px 0 -15px;
}
.skills-list-ru > li {
    margin-left: 87px;
}
.contact-me {
    margin-left: -60px;
}
.bottom-feather {
    margin-top: -20px;
    padding-bottom: 150px;
}
.padd {
    padding: 0 5px 0 5px !important;
}
}
