@font-face {
	font-family: Roboto Black;
	src: url(../fonts/Roboto/Roboto-Black.ttf);
}
* {
	box-sizing: border-box;
}
body {
	min-width: 1300px;
}
body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	font: normal 12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.roboto {
	font-weight: 300;
	font-family: 'Roboto Black';
}
.container {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
h1 {
	font-size: 30px;
}
.top-text {
	margin: 20px 0 0 -12px;
}
h2 {
	padding: 0;
	margin: 0;
	font-size: 16px;
}
h3 {
	padding: 0;
    margin: 5px 0 20px 2px;
    font-size: 14px;
    letter-spacing: 1px;
}
h4 {
	 font-size: 12px;
	 margin: 15px 0 12px 0;
	}
p {
	margin-top: 5px;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
.p1 {
	padding: 1px 0 0;
	margin: 4px 0px 0px -2px;
	}
.p2 {
	padding: 1px 0 0;
	margin: 4px 0px 0px -2px;
	}
.head {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: -100px;
}
.question_1 {
	padding: 0;
	width: 513px;
	color: #ffffff;
	font-size: 18px;
	margin: 50px auto;
}
.sata {
	margin-top: 5px;
	padding: 10px 0 0 0;
}
.pointer {
	cursor: pointer;
	}
.sata label {
	padding-left: 10px !important;
	}
.logo {
	display: inline-block;
	background: url(../img/logo.png)no-repeat;
	padding-top: 40px;
	padding: 0px;
    width: 227px;
    height: 66px;
    margin: 64px 0px 47px 20px;
}
.form_picture {
	background: url(../img/plextor-_24.png)no-repeat;
	top: 180px;
	right: 230px;
	width: 128px;
	height: 125px;
	display: block;
	margin: 12px 42px;
	position: absolute;
}
.form_picture_1 {
	background: url(../img/plextor-_15.png) no-repeat;
	width: 129px;
	height: 129px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 273px;
}
.form_picture_2 {
	position: absolute;
	padding: 0;
	margin: -30px 0px 0 334px;
	background: url(../img/plextor-_19.png)no-repeat;
	width: 120px;
	height: 40px;
}
.logo_3 {
	padding: 0;
	margin: 0;
	display: inline-block;
	background: url(../img/plextor-_19.png)no-repeat;
	width: 41px;
	height: 118px;
}
.plextor- {
	padding: 0;
	margin: 0;
	display: inline-block;
	float: left;
	background: url(../img/plextor-.png)no-repeat;
	width: 74px;
	height: 230px;
}
.left-box {
	margin: 0;
	padding: 0;
	min-height: 313px;
	float: left;
	background: url(../img/promo__02.jpg) no-repeat;
	background-position: 100% 1%;
	/* Firefox */
	width: -moz-calc(50% - 135px);
	/* WebKit */

	width: -webkit-calc(50% - 135px);
	/* Opera */

	width: -o-calc(50% - 135px);
	/* Standard */

	width: calc(50% - 135px);
}
.right-box {
	padding: 60px 0px 58px 155px;
	background: url(../img/plextor-.png)no-repeat;
	background-position: 44px 67px;
	background-color: #f7f7f7;
	min-height: 313px;
	float: left;
	/* Firefox */
	width: -moz-calc(73% - 135px);
	/* WebKit */

	width: -webkit-calc(73% - 135px);
	/* Opera */

	width: -o-calc(73% - 135px);
	/* Standard */

	width: calc(73% - 135px);
}
.ssd-blue {
    color: #208efe;
    margin-right: -8px;
}
.right-blue-1 {
	color: #208efe;
	padding-top: 18px;
	}
.right-blue-2 {
	color: #208efe;
	padding-top: 18px;
	}
.right-blue-3 {
	 color: #208efe;
	 padding-top: 16px;
	}
.ssd33 {
	font-size: 33px;
	}
.ssd-black {
	padding: 0;
    font-size: 30px;
    line-height: 47px;
    margin-left: 9px;
	}
.ssd {
	text-align: right;
	}
.blue_text {
	color: #81b5ea;
}
.easily {
	margin-left: 38px;
}

.green {
	color: #00dd14;
	font-size: 73px;
	display: inline-block;
	margin: -16px 0px 0px 55px;
}
.picture_wrapper {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 100%;
}
.picture_plexter {
	width: 405px;
    height: 215px;
    right: 367px;
    top: -64px;
    position: absolute;
    background: url(../img/promo__03.png) no-repeat;
    background-position: 25% 50%;
    z-index: 1;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.picture_plexter {
	top: -62px;
}
}
.text_plexter {
	margin-left: 150px;
	padding: 0;
}
.text_plexter a {
	color: #b7b7b7;
	}
.text_plexter h3 {
	padding-left: 50px;
}
.text_plexter h1 {
	 font-size: 27px;
	 margin: 31px 0px 0 49px;
}
.middle_green {
	padding: 0;
	margin-top: 81px;
	display: inline-block;
	background-color: #00c312;
	width: 100%;
	height: 308px;
	min-height: 245px;
}
.bottom_blue {
	background-color: #025c8a;
	width: 100%;
	padding: 10px 0 0 0;
}
.bottom_blue .container {
	position: relative;
}
.step {
    padding: 0;
    float: left;
	color: #ffffff;
	font-size: 45px;
    margin: 1px 15px 0 25px;
}
.white_text {
	color: #ffffff;
    margin: 0px 53px 0;
}
.blur_text {
    float: right;
    color: #87dcff;
    font-size: 12px;
    margin-right: 54px;
    text-decoration: underline;
}
.question {
float: left;
color: #ffffff;
font-size: 30px;
margin: 51px 0 0 -149px;
}
form {
	width: 549px;
    margin: 0px auto;
    padding: 56px 0 0 0px;
}
.clean {
	padding: 0;
	width: 0;
	margin: 0;
	}
.string label {
	padding: 0;
	margin: 0;
	float: left;
	width: 250px;
}
.button {
	border: 0;
    padding: 0px;
    width: 232px;
    height: 48px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin: 35px -30px;
	border-radius: 50px;
	background-image: linear-gradient(to top, #b8b8b8 10%, #ffffff 100%);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.gray {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 250px;
	background-image: linear-gradient(to top, #292929 95%, #111111 100%);
}
.gray-bg {
	position: absolute;
	left: 80%;
	right: 0;
	top: 0;
	bottom: 0%;
	background: #f7f7f7;
}
.gray_text {
	color: #b7b7b7;
	padding-left: 30px;
}
.text18 {
    float: left;
    font-size: 17px;
    font-style: italic;
    margin: 58px 0 0 25px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.text {
	padding: 0;
	font-size: 12px;
	margin: 60px 0 0 50px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.left_block dd {
	color: #81b5ea;
}
.left_block dt {
	float: left;
	width: 180px;
	color: #fff;
}

.left_block {
	padding: 68px 0;
	font-size: 13px;
	margin: 0 17px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	}

.text_1 {
	right: 0px;
    left: 507px;
    top: 52px;
    bottom: 0;
    color: #ffffff;
    font-size: 11px;
    position: absolute;
}
.string {
	color: #ffffff;
	padding: 14px 0 0;
}
.black {
	width: 100%;
	padding: 60px 0 0;
    background: #111111;
    background-repeat: no-repeat;
    background-position: 21% 50%;
	background-image: url(../img/footor.png);
}
.fields {
	padding: 0;
	float: right;
	margin: 69px 57px 0;
}
.string input {
	margin: 0px 0 0 0px;
	padding: 3px 0 0 0px;
	width: 250px;
}
.string label {
	margin: 0px -160px 0 0;
	padding: 4px 0px;
	font-size: 14px;
}
.menu-1 {
	margin: 62px 0 0 25px;
	
}
.menu {
	margin: 30px 0 0 0;
	padding: 0 0 40px 0;
}
.link {
    	margin-left: 22px;
	}